<!DOCTYPE html>
<html ng-app="couplingIO">
    <head>
        <base href="/">
        <!-- CSS -->
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/libs/angular/angular.js"></script>
        <script type="text/javascript" src="/libs/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/libs/angular-local-storage/dist/angular-local-storage.js"></script>
        <script type="text/javascript" src="/angular/app.js"></script>
        <script type="text/javascript" src="/angular/controllers.js"></script>
        <script type="text/javascript" src="/angular/services.js"></script>
        <script type="text/javascript" src="/angular/directives.js"></script>
    </head>
    <body>
        <div ng-view></div>
    </body>
</html>
