<!DOCTYPE html>
<html ng-app="couplingIO">
    <head>
        <base href="/">
        <!-- CSS -->
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/libs/bootstrap-social/bootstrap-social.css"/>
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/libs/angular/angular.js"></script>
        <script type="text/javascript" src="/libs/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/libs/angular-local-storage/dist/angular-local-storage.js"></script>
        <script type="text/javascript" src="/libs/angular-cookies/angular-cookies.js"></script>
        <script type="text/javascript" src="/angular/app.js"></script>
        <script type="text/javascript" src="/angular/controllers.js"></script>
        <script type="text/javascript" src="/angular/services.js"></script>
        <script type="text/javascript" src="/angular/directives.js"></script>
        <script type="text/javascript" src="/angular/routingConfig.js"></script>
        <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    </head>
    <body>
        <div ng-view></div>
    </body>
</html>
